* {
  margin: 0;
  padding: 0;
}
:root {
  --active: rgb(57, 87, 215);
  --white: #ffffff;
}
.container {
  position: relative;
  padding: 0px 0px;
  overflow:hidden;
  
  font-family: "Lato", sans-serif;
  background-image: url("../public/image5.jpg");
  /* background-image: url("../public/image6.jpg"); */

  /* min-height: 100vh; */
  background-repeat: no-repeat;

  background-size: cover;

  background-position: center;
  color: white;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Adjust opacity (last value) as needed */
}

.content {
  position: relative;
  z-index: 1;
}

.submitbtn {
  width: 60%;
  border-radius: 10px;
}
.navbar {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link {
  cursor: pointer;
}
.link:hover {
  color: var(--active);
}
.logo {
  font-size: 2.5em;
  font-weight: 600;

  background-image: linear-gradient(
    to bottom,
    #f3f4f6,
    #2d3748
  ); /* Light gray to dark gray */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.small {
  font-size: 0.6em;
}
.btn {
  padding: 12px 25px;
  cursor: pointer;
  border: none;
}
#helpline {
  background-color: var(--active);
  color: white;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  border-radius: 25px;
}
#helpline:hover {
  background-color: blue;
}

.hidden {
  display: none;
}

#toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.error {
  background-color: red;
  color: white;
}

.success {
  background-color: green;
  color: white;
}
.main__container {
  /* height: 450px; */
  min-height: 100vh;
  overflow:hidden
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  margin-top: 100px;
}

@media (min-width: 1024px) {
  .main__container {
    margin-top:200px;
    flex-direction: row;
  }
  .container {
    padding: 10px 20px;
  }
  .slides {
    width: 400% !important;
    height: 300px !important;
  }

  .slider {
    width: 600px !important;
    height: 400px !important;
  }
  .slide img {
    width: 500px !important;
    height: 300px !important;
  }

  .slide video {
    width: 500px !important;
    height: 300px !important;
  }
  .navigation-auto {
    margin-top: 332px !important;
    width: 500px !important;
  }
  .manual-navigation {
    margin-top: 30px !important;
    width: 500px !important;
  }
  .left_side {
    width: 50% !important; 
    
  }
  .heading {
    font-size: 2em !important;
  }
  .form-signin {
    align-items:start !important;
  }
}

.left_side {
  width: 95%;
  height:90%; 
}
.heading {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
.form-signin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  align-items:center;

  justify-content: center;
}
.media_input_box {
  height: 200px;
  width: 300px;
  border: 1px solid rgb(249, 249, 249);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
#preview-image {
  height: 200px;
  width: 400px;
  object-fit: contain;
}
#inputfile {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  right: 0px;
}
.upload_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.upload-text {
  margin-top: -15px;
  margin-left: 90px;
}
.small_text {
  font-size: 0.8em; /* 40px/16=2.5em */
  color: rgb(249, 249, 249);
}
.preview-media {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  display: none;
}
.right__container {
  /* width: 1000px; */

  margin-bottom: 20px;
}
.slides input {
  display: none;
}
.slide {
  width: 25%;
  position: relative;
  transition: 5s;
}
.slider {
  margin: 0 auto;
  /* margin-left: 100px; */
  width: 600px;
  padding-bottom: 10px;
  height: 300px;
  overflow: hidden;
}

.slides {
  width: 300%;
  height: 300px;
  display: flex;
}

.slide img {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 50px;
}

.slide video {
  width: 350px;
  height: 200px;
  object-fit: cover;
  border-radius: 25px;
  margin-top: 50px;
}
.manual-navigation {
  position: absolute;
  width: 300px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 30px;
}

.manual-btn:hover {
  background-color: #fff;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}
#radio4:checked ~ .first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20acff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 300px;
  margin-top: 302px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child) {
  margin-right: 30px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}
#loading__container {
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-mask: linear-gradient(0deg, #000 55%, #0000 0) bottom/100% 18.18%;
  background: linear-gradient(#f03355 0 0) bottom/100% 0% no-repeat #ddd;
  animation: l8 2s infinite steps(7);
  margin: auto;
  margin-top: 20%;
}
@keyframes l8 {
  100% {
    background-size: 100% 115%;
  }
}

/* Button */

/* CSS */
.button-85 {
  padding: 0.6em 1.5em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 2px);
  height: calc(100% + 1px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
